.textarea {
  background: none;
  border: none;
  font-size: 1rem;
  line-height: 1.7;

  width: 100%;
  resize: none;
  height: min-content;
}

.large {
  height: clamp(17.5rem, 50vh, 25rem);
}

.small {
}
