.box {
  background: var(--surface-1);
  border: 1px solid var(--surface-2);
  border-radius: 4px;
  height: 100%;
  text-align: left;

  display: grid;
  align-content: flex-start;
  gap: 1.5rem;
}

.colored {
  --lightness: 94%;
  --chroma: 5;

  background: lch(var(--lightness) var(--chroma) var(--hue));
}

.medium {
  padding: 1.5rem;
}

.large {
  padding: 2.5rem;
}
